<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="NorthwindSetup" connectionString="data source=.\SQLEXPRESS;Integrated Security=True;" providerName="System.Data.SqlClient"/>
		<add name="NorthwindEntities" connectionString="metadata=res://*/Northwind.Model.NorthwindModel.csdl|res://*/Northwind.Model.NorthwindModel.ssdl|res://*/Northwind.Model.NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<appSettings>
    <!--<add key="HostName" value="services.odata.org" />-->
    <add key="CacheTimeOut" value="0"/>
    <add key="NW_dbHolderPath" value="Northwind\db.lock"/>
    <add key="NW_dbScriptPath" value="Northwind\Model\CreateNW.sql"/>
  </appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
		<sessionState cookieless="true" regenerateExpiredSessionId="false" timeout="20" sessionIDManagerType="ODataWeb.ODataWebSessionIdManager"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
</configuration>
